.container1 {
	/* border: 1px solid red; */
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn4 {
	padding: 10px 54px;
}
.padding-text > h3 {
	/* flex-wrap: wrap; */
	font-size: 32px;
	font-family: Montserrat;
	font-weight: 700;
	line-height: 48px;
}
.padding-text > p {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	text-align: justify;
}
.context-text > h2 {
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}
.context-text > p {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}
